*.pyc
*~
.*.sw[op]
*.egg-info
dist
build
local
local.properties
distribute-*
tests/temp
/org
/docs/_build
.project
.pydevproject
tests/tmp*
.cache/
.env

.DS_Store
ouroboros-repo/
ouroboros-compiled/
