*.pyc
*~
.*.sw[op]
*.egg-info
dist
build
local
local.properties
distribute-*
tests/temp
/org
/docs/_build
.project
.pydevproject
tests/tmp*
.cache/
.env
/stdlib_tests/*.class
/stdlib_tests/python

.DS_Store
